Print square pattern

In [21]:
def print_square_pattern(n):
    for i in range(n):
        for j in range(n):
            print("*",end=" ")
        print()

In [20]:
print_square_pattern(5)

*****
*****
*****
*****
*****

Print step pattern

In [46]:
def print_step_pattern(n):
    for i in range(1,n+1):
            print("*" *i)

In [47]:
print_step_pattern(5)

*
**
***
****
*****

print numbers in step pattern

In [59]:
def print_number_step_pattern(n):
    for i in range(1,n+1):
        # print("i",i)
        for j in range(1,i+1):
            print(j,end="")
        print()

In [60]:
print_number_step_pattern(5)

1
12
123
1234
12345

print same numbers in step

In [65]:
def print_same_number_step_pattern(n):
    for i in range(1,n+1):
        for j in range(1,i+1):
            print(i,end="")
        print()

In [66]:
print_same_number_step_pattern(5)

1
22
333
4444
55555

print reverse star pattern

In [113]:
def print_reverse_star(n):
    for i in range(n,0,-1):
        print(i)
        print("* "*i)

In [114]:
print_reverse_star(5)

5
* * * * *
4
* * * *
3
* * *
2
* *
1
*

print reverse step numbers

In [158]:
def reverse_step_numbers(n):
    for i in range(n,0,-1):
        for j in range(1,i+1):
            print(j,end=" ")
        print()

In [159]:
reverse_step_numbers(5)

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

print pyramid

In [189]:
def print_pyramid(n):
    for i in range(n):
        spaces = ' ' * (n - i - 1)
        stars = '*' * (2 * i + 1)
        print(spaces + stars)

# Example usage:
N = 6
print_pyramid(N)

     *
    ***
   *****
  *******
 *********
***********

In [190]:
pyramid(n=3)

*******
*****
 ***

In [191]:
def print_inverted_pyramid(n):
    for i in range(n, 0, -1):
        spaces = ' ' * (n - i)
        stars = '*' * (2 * i - 1)
        print(spaces + stars)

# Example usage:
N = 6
print_inverted_pyramid(N)

***********
 *********
  *******
   *****
    ***
     *